<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<img>
    <h1 align="center">Приветствую тебя на сайте об островах</h1>
    <p>О́стров — участок суши (обычно естественного происхождения) в океане, море, озере или на реке, окружённый со всех сторон водой[1] и постоянно возвышающийся над водой даже в период наибольшего прилива[2]. От материков острова отличаются меньшими размерами[1].

Самым большим по площади островом принято считать Гренландию, которая приблизительно в три раза меньше самого малого континента — Австралии. Группа морских островов, расположенных поблизости друг от друга, называется архипелагом (например, Малайский архипелаг). Ряд небольших островов, вытянутых в одном направлении, называется грядой (например, Курильская гряда).</p>

    <img width="600" height="400" src="https://kaifolog.ru/uploads/posts/2018-10/1539496163_051.jpg">
    <div>
        <a href="{% url 'home' %}">Домашняя</a>
        <a href="{% url 'listIsland' %}">Список островов</a>
        <a href="/admin">Админка</a>
    </div>
</body>
</html>